.todoTextarea {
  font-family: inherit;
  width: 100%;
  resize: none;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.todoTextarea:focus {
  border: 1px solid #333;
}

.addTodoButton {
  display: flex;
  align-items: center;
  border: none;
  margin-top: 10px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1em;
  color: #777;
}

.addTodoButton:hover {
  cursor: pointer;
  color: #320b86;
}

.addButtonIcon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}