.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  grid-area: header;
  padding: 0 35px;
  background-color: #320b86;
}

.menuButton {
  width: 25px;
  border: 0;
  background-color: inherit;
  outline: none;
}

.menuIcon {
  width: 100%;
  height: 100%;
  color: #dcdcdc;
}

.menuIcon:hover {
  color: white;
  cursor: pointer;
}