.listElement {
  color: #ddd;
  text-decoration: none;
  transition: 0.1s;
  display: block;
  padding: 5px 0;
}

.listElement:hover, .active {
  background-color: #4c278f;
  color: #fff;
  padding-left: 5px;
}
