.checkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid #673ab7;
  border-radius: 50%;
  transition: 0.1s;
}

.checkButton:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.checked {
  border: 2px solid #673ab7;
}