.todoTextarea {
  font-family: inherit;
  width: 100%;
  resize: vertical;
  max-height: 200px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.addTodoButton {
  border: none;
  padding: 5px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1em;
  color: #777;
}

.addTodoButton:hover {
  cursor: pointer;
  color: black;
}

.addButtonIcon {
  width: 50px;
}