.sidebar {
  color: #dcdcdc;
  width: 250px;
  grid-area: sidebar;
  padding: 35px 0 0 35px;
  background: #673ab7;
  transition: all 0.1s linear;
}

.hidden {
  width: 0;
  visibility: hidden;
  padding-left: 0;
}