@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}

button {
  padding: 0;
  outline: 0;
  font-family: inherit;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
}

[contenteditable] {
  outline: 0px solid transparent;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}