.wrapper {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  color: black;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-sizing: border-box;
}

.buttonWrapper {
  width: 100%;
}

.authButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  border: 0;
  background-color: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  transition: 0.1s;
}

.authButton:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.buttonText {
  color: black;
  margin: 0px 5px;
}